:root {
    --primary-color: #551fc1;
    --dark-color: #212121;
    --padding: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container { 
    margin: 1rem;
}
/* descendant combinator (space) */
nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
}

nav ul li {
    padding: 0.5rem 0;
    border-top: 2px solid var(--primary-color);
}

nav ul li a {
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.stars {
    margin-bottom: 1.5rem;
}

/* child combinator ( > ) */
main > p {
    font-size: 1.2rem;
}

/* adjacent combinator ( + ) */
h2 + p {
    background: var(--dark-color);
    color: lightgray;
    padding: var(--padding);
}
/* sibling combinator ( ~ ) */
.stars span {
    font-size: 1.5rem;
    cursor: pointer;
}

.stars span:hover ~ span {
    opacity: 0.3;
}


/* element[attribute] => a[href] */
a[href] {
    text-decoration: underline;
}

/* element[attribute="value"] => a[href="https://algonquincollege.com */
a[href='#'] {
    text-decoration: none;
}

/* element[attribute^="value"] -> starts with */
a[href^="http"] {
    color: var(--primary-color);
    font-weight: bold;
}

/* element[attribute*="value"] -> contains */
a[href*='google'] {
    background: lavender;
    padding: var(--padding);
    border-left: 4px solid var(--primary-color);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    width: calc(100% - 4rem - 4px);
}

/* element[attribute$="value"] -> ends with */
a[href$='.pdf'] {
    background:var(--primary-color);
    color: white;
    padding: var(--padding);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    max-width: 15rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 0 var(--dark-color);
}

/* :link :visited :hover :active */
/* LoVe HAte */
main a:link { 
    font-weight: normal;
}

main a:visited {
    color: rgb(187, 20, 220);
}
main a:hover {
    font-weight: bold;
}
main a:active {
    font-size: 1.3rem;
}

/* :focus state styles- normally added on inputs */
form {
    margin-top: 2rem;
}

input[type="text"]:focus {
    border: 2px solid var(--primary-color);
}

/* position-related states */
/* nth-child */
nav ul li:last-child {
    border-bottom: 2px solid var(--primary-color);
}

/* nav ul li:nth-child(even) {
    background: rgb(250, 242, 230);
}

nav ul li:nth-child(odd) {
    background: lavender;
}

nav ul li:nth-child(2n+1) {
    background: lavender;
} */

/*  Form related states: 
    :required, :optional, :valid, :invalid, :read-only*/

input {
    border-radius: 3px;
}

/* :required */
input:required {
    border: 2px solid red;
}

/* :optional */
input:optional {
    border: 2px solid var(--primary-color);
}

/* :valid */
input:valid {
    /* background: lightgreen; */
    color: darkgreen;
}

/* :invalid */
input:invalid {
    /* background: lightpink; */
    color: crimson;
}

/* :read-only */
form:read-only {
    color: var(--primary-color);
}

/* Pseudo-elements
::placeholder
::selection */

/* ::after */
a[href$='.pdf']::after{
    content: '\2193';
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

/* ::before */

/* ::first-letter */
h2 + p::first-letter {
    float: left;
    font-size: 3rem;
    padding-right: 0.3rem;
    color: white;
}

/* ::first-line */
h2 + p::first-line {
    color: white;
    text-decoration: underline;
}

/* ::placeholder */
::placeholder {
    color: var(--primary-color);
    opacity: 0.6;
}

/* ::selection */
::selection {
    background: var(--primary-color);
    color: white;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .container {
        max-width: 43rem;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: row;
        background: var(--primary-color);
    }

    nav ul li {
        border: none;
    }

    nav ul li a {
        background: var(--primary-color);
        color: white;
    }
}